@font-face {
	font-family: Prompt;
	src: url(./fonts/Prompt-Regular.ttf);
}

@font-face {
	font-family: Prompt;
	src: url(./fonts/Prompt-Bold.ttf);
	font-weight: bold;
}

.App {
	text-align: center;
	font-family: Prompt;
}

.App-header {
	background-color: #fbdcee;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #422800;
}

.Divider {
	width: 50%;
	height: 10px;
	margin-top: 30px;
	border-bottom: #422800;
	border-bottom-style: dotted;
	border-bottom-width: 3px;
}

img {
	height: 100px;
	width: 100px;
	border-radius: 10px;
	border: 5px solid #422800;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
}

p {
	font-weight: bold;
	font-size: calc(40px + 2vmin);
	margin-bottom: 20px;
}

li {
	font-size: calc(10px + 1vmin);
	text-align: left;
	color: #422800;
	word-wrap: break-word;
}

ul {
	padding: 20px 0;
	margin: 0;
	width: 250px;
}

button {
	font-family: Prompt;
	background-color: #fbeee0;
	border: 1px solid #422800;
	border-radius: 30px;
	box-shadow: #422800 2px 2px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block;
	padding: 0 15px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

button:hover {
	background-color: #fff;
}

button:active {
	box-shadow: #422800 1px 1px 0 0;
	transform: translate(1px, 1px);
}
